<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div style="text-align: center;">
            <img src="https://breezie-prod-files.s3.amazonaws.com/images/screens/Screen1652762703109" alt="" style="height: 12%; width: 12%;">
        </div>
        <p style="font-weight: 700; font-family: system-ui; font-size: 30px; text-align: center; margin: 0px;">Thanks</p>
        <div style="margin-top: 20px; margin-bottom: 30px; font-weight: 700; font-family: system-ui; font-size: 20px; text-align: center;">
            <p style=" margin: 4px; color: black;">We've receieved your request, and will</p>
            <p style=" margin: 4px;  color: black;">get in touch with you shortly</p>
        </div>
        <hr style="width: 600px;">
        <div style="margin-top: 30px;font-weight: 600; font-family: system-ui; font-size: 20px; text-align: center; color: gray;">
            <p style=" margin: 3px;">TechnoElevate</p>
            <p style=" margin: 3px;">Vijayanagaram Layout, Jayanagar,</p>
            <p style=" margin: 3px;">Bengaluru,Karnatak 560070</p>
        </div>
    </div>
</body>

</html>